/* Reset default values and box-sizing */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

h1, h3, ul, ol{
    text-align: center;
}

/* Stylizes lists on the index.html page */
.index-list, .ingredient-list{
    list-style-type: none;
}

/* Stylizes li elements that are ancestors of .index-list 
li elements will have their own border, that is centered on screen*/
.index-list li, .ingredient-list li, .steps-list li{
    border-style: outset;
    border-color: white;
    box-sizing: border-box;
    padding: 5px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

/* Stylize the link color */
a{
    text-decoration: none;
    color: darkslategray;
}

p{
    text-align: center;
}

/* Stylizes recipe photos at top of recipe page */
.recipe-img{
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    border-style: inset;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;
}

/* The text will turn white, and the border will change colour*/
.index-list a:hover,
.index-list :hover{
    color: #ffffff;
    border-color: rgb(210, 13, 13);
}